.card{
    width: 32%;
    margin-left: 1%;
}
.shop-icon {
    display: inline-block;
    padding: 5px;
    margin-right: 0; /* Сначала сбросим отступ, если есть */
    margin-left: auto; /* Затем установим правый отступ, чтобы элемент сдвинулся вправо */
}

.shop-icon img {
    width: 50px; /* Установите нужный размер */
    height: 50px;
    border-radius: 50%; /* Для округления иконки */
}

.shop-icon:hover img {
    border: 2px solid orange; /* Пример выделения при наведении */
}

.navbar-brand {
    margin-right: auto;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-container img {
    max-width: 50%;
    height: auto;
}

.content-container p {
    max-width: 45%; /* Максимальная ширина текста */
}

.map-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Высота карты */
}

iframe {
    width: 90%; /* Ширина карты */
    height: 90%; /* Высота карты */
    border: 0;
}

.icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.icons img {
    width: 40px;
    height: auto;
    margin: 0 10px;
}

@media (max-width: 600px) {
    .icons {
        flex-wrap: wrap; /* Перенос иконок на новую строку при сужении экрана */
        justify-content: flex-start; /* Выравнивание иконок по левому краю */
    }
}

.container {
    max-width: 70%; /* Ширина контейнера */
    margin: 0 auto; /* Центрирование по горизонтали */
}

.cards {
    margin-top: 50px; /* Отступ сверху */
}



