.card{
    width: 32%;
    margin-left: 1%;
}
.shop-icon {
    display: inline-block;
    padding: 5px;
    margin-right: 0; /* Сначала сбросим отступ, если есть */
    margin-left: auto; /* Затем установим правый отступ, чтобы элемент сдвинулся вправо */
}

.shop-icon img {
    width: 50px; /* Установите нужный размер */
    height: 50px;
    border-radius: 50%; /* Для округления иконки */
}

.shop-icon:hover img {
    border: 2px solid orange; /* Пример выделения при наведении */
}

.navbar-brand {
    margin-right: auto;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-container img {
    max-width: 50%;
    height: auto;
}

.content-container p {
    max-width: 45%; /* Максимальная ширина текста */
}

.map-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Высота карты */
}

iframe {
    width: 90%; /* Ширина карты */
    height: 90%; /* Высота карты */
    border: 0;
}

.icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.icons img {
    width: 40px;
    height: auto;
    margin: 0 10px;
}

@media (max-width: 600px) {
    .icons {
        flex-wrap: wrap; /* Перенос иконок на новую строку при сужении экрана */
        justify-content: flex-start; /* Выравнивание иконок по левому краю */
    }
}

.container {
    max-width: 70%; /* Ширина контейнера */
    margin: 0 auto; /* Центрирование по горизонтали */
}

.cards {
    margin-top: 50px; /* Отступ сверху */
}

.product-not-found {
    font-size: 35px; /* Увеличиваем размер шрифта */
    margin-top: 70px; /* Устанавливаем отступ сверху */
    color: black; /* Черный цвет текста */
    font-weight: bold; /* Делаем текст жирным */
}
.product-container {
    display: flex; /* Горизонтальное расположение */
    flex-wrap: wrap; /* Перенос элементов на новую строку при нехватке места */
    width: 70%; /* Ширина контейнера 70% от ширины экрана */
    margin: 0 auto; /* Центрирование по горизонтали */
    gap: 20px; /* Промежуток между элементами */
    border: 1px solid #ccc; /* Добавляем рамку шириной 1 пиксель и серого цвета */
}

.total-container {
    display: flex; /* Горизонтальное расположение */
    flex-direction: column; /* Вертикальное расположение дочерних элементов */
    align-items: flex-end; /* Выравнивание элементов по правому краю */
    width: 70%; /* Ширина контейнера 70% от ширины экрана */
    margin: 20px auto; /* Центрирование по горизонтали с небольшим отступом сверху и снизу */
}

.product-row {
    display: flex; /* Устанавливаем flex-контейнер */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image img {
    max-width: 50%;
    height: auto;
}

.product-details {
    flex: 1 1 auto;
    text-align: right;
}

.product-details h4 {
    margin-top: 0;
}

.product-details p {
    margin-bottom: 20px;
}

.remove-product {
    cursor: pointer;
    color: red;
}

.actions {
    text-align: right;
}

div.total-container button.btn-primary {
    background-color: red;
    color: white;
    border: white;
}

.total-price {
    font-weight: bold; /* Жирный шрифт для цены */
    font-size: 1.2em; /* Увеличиваем размер шрифта */
    margin-bottom: 10px; /* Добавляем небольшой отступ снизу */
}
.action-buttons {
    margin-bottom: 20px; /* Добавляем отступ снизу для кнопок */
}

.container {
    margin: 20px auto;
    padding: 0 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
}
.section {
    border-radius: 5px;
    color: black;
    margin-right: 20px;
    height: 250px;
}
.section1 {
    width: 50%;
    background-image: url('../img/9IBp.gif');
    background-size: cover;
    background-position: center;
}
.section2 {
    background-color: #FBEBE3;
    width: 30%;
}
.section3 {
    width: 20%;
    background-image: url('../img/giphy1.gif');
    background-size: cover;
    background-position: center;
}
.section4 {
    background-color: #FBEBE3;
    width: 30%;
}
.section5 {
    width: 40%;
    background-image: url('../img/KBZ.gif');
    background-size: cover;
    background-position: center;
}
.section6 {
    background-color: #FBEBE3;
    width: 30%;
}
.section7 {
    width: 20%;
    background-image: url('../img/giphy2.gif');
    background-size: cover;
    background-position: center;
}
.section8 {
    background-color: #FBEBE3;
    width: 35%;
}
.section9 {
    background-image: url('../img/giphy.gif');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}
.word {
    text-align: center;
    margin-top: 110px;
}
a.text-dark:hover {
    border: 2px solid orange; /* Обводка при наведении */
    border-radius: 50px; /* Создание круглой обводки */
    padding: 5px; /* Дополнительный отступ для видимости обводки */
}
a.text-dark {
    text-decoration: none; /* Убрать подчеркивание у ссылок */
    margin-right: 15px;
    margin-left: 25px;
}

.box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.sek {
    padding: 35px;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.small-image-container {
    position: absolute;
    bottom: -15px;
    left: -15px; /* Изменено на left для смещения влево */
    background-color: black;
    border-radius: 50%;
    border: 3px solid #333;
    padding: 3px;
}

.small-image-container img {
    width: 100px;
    height: 100px;
    background-size: cover;
}

.text-container {
    flex: 2;
    padding-left: 20px;
}

.pages-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    justify-content: center;
}

.pages-grid > div {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center; /* Центрируем текст внутри контейнеров */
}

.custom-img {
    width: 280px; /* Задаем ширину */
    height: 200px; /* Задаем высоту */
}

.main-grid {
    display: flex;
    justify-content: center;
}

.myweb {
    text-align: center;
    margin: 0 20px; /* Добавляем отступы между блоками */
}

.myweb img {
    width: 280px; /* Задаем размер изображений */
    height: 200px;
}

.delivery_menu {
    margin-left: 100px;
    margin-right: 100px;
}

.head{
    margin-top: 20px;
}

.custom-list {
    list-style-type: none;
}

.custom-list li {
    padding-left: 20px; /* Отступ для текста */
    background-image: url('../img/icon.png');
    background-size: 16px; /* Размер изображения */
    background-repeat: no-repeat;
    background-position: 0 50%; /* Положение изображения по вертикали */
}


